* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 5rem;
  margin-bottom: 1000px;
  background-color: rgb(25, 24, 24);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgb(45, 43, 43);
  z-index: 100;
}

.header-phone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgb(45, 43, 43);
  z-index: 100;
  cursor: pointer;
}
.ham-icon {
  line-height: 7px; 
  font-weight: 600; 
  margin-left: 8px;
  padding-top: 4px;
  width: 30px;
}
.ham-menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 101;
  display: flex; 
  flex-direction: column; background-color: rgb(42, 40, 40);
  height: 240px; 
  width: 30%;
  border-radius: 0 5px 5px 5px;
}
.ham-div {
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  
}

.ham-div:hover {
  text-decoration: underline;
}

.close-btn {
  color: black;
  background-color: transparent;
  position: absolute;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  border-radius: 1.2rem;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}
.home-link {
  align-self: center;
  margin-left: 8px;
}
.header-2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}
.about-header {
  
}
.RPS-container {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  column-gap: 0.5rem;
  margin-right: 8px;
}

.grid-container-main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

h1 {
  justify-self: center;
  font-size: 8vw;
  color: rgb(245, 245, 245);
}

.text-container {
  padding: 0 5%;;
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  flex-wrap: nowrap;
}
.todo-text-input {
  flex-grow: 1;
  padding-left: 1rem;
  border-radius: 3rem;
  border: none;
  color: white;
  background-color: rgb(56, 53, 53);
}
.todo-text-input::picker-icon {
  color: white;
}

.todo-text-input::placeholder {
  color: white;
}

.text-container button {
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
  border: none;
  font-weight: 600;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}
.text-container button:hover {
  opacity: 0.8;
}
.text-container button:active {
  opacity: 0.5;
}
.todo-list {
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 4rem;
  row-gap: 0.5rem;
  background-color: rgb(42, 40, 40);
  padding: 2% 5%;
  border-radius: 32px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.todo-item-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.15s;
}
.delete-btn:hover {
  opacity: 0.8;
}
.delete-btn:active {
  opacity: 0.5;
}
.checkbox-input {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.5;
}